
@model Casgem_Portfolio.Models.Entities.TblReference
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Referans Güncelle</h3>
<hr />

<form method="post" action="/Reference/EditReference/">

    <input type="hidden" required name="ReferenceId" value="@Html.ValueFor(x=>x.ReferenceId)" class="form-control" placeholder="Adı soyadı" />


    <div class="mt-3">
        <label>Adı Soyadı</label>
        <input type="text" required name="ReferenceNameSurname" value="@Html.ValueFor(x=>x.ReferenceNameSurname)" class="form-control" placeholder="Adı soyadı" />

    </div>

    <div class="mt-3">
        <label>İş Yeri</label>
        <input type="text" required name="ReferenceBusinessName" value="@Html.ValueFor(x=>x.ReferenceBusinessName)" class="form-control" placeholder="İş yeri" />

    </div>

    <div class="mt-3">
        <label>Fotoğraf Url</label>
        <input type="text" required name="ReferenceImgUrl" value="@Html.ValueFor(x=>x.ReferenceImgUrl)" class="form-control" placeholder="Fotoğraf url" />

    </div>

    <div class="mt-3">
        <label>Açıklama</label>
        <textarea name="ReferenceDescription" required class="form-control" placeholder="Açıklama" rows="6">@Html.ValueFor(x=>x.ReferenceDescription)</textarea>
    </div>

    <br />

    <div>
        <a href="/Reference/Index/" class="btn btn-danger">İptal</a>
        <input type="submit" class="btn btn-warning" value="Güncelle" />
    </div>

</form>

