
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="tr">

    @Html.Partial("_PartialHead")

<body>

    @Html.Partial("_PartialNavbar")

    @Html.Action("_PartialFeature")

    @Html.Action("_PartialWhoAmI")

    @Html.Action("_PartialMyResume")

    @Html.Action("_PartialService")

    @Html.Action("_PartialStatitistic")

    @Html.Action("_PartialReferance")

    @Html.Action("_PartialProject")

    @Html.Action("_PartialFooter")

    @Html.Partial("_PartialJavascript")

</body>

</html>